
.example{
    border: 1px solid black;
    background-color: white;
    min-width: 595.276pt;
    max-width: 595.276pt;
    min-height:841.8898pt;
    max-height:841.8898pt;
}

.header,
.education-example,
.work,
.stat-container{
display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.horizontal-info-selection{
    display: flex;
    flex-direction: row;
margin: 10px;
}
.header{
    background-color: darkgreen;
    color: white;
    padding: 30px 0 30px 0;
    align-items: center;

}
.header img{
    height: 25px;
    width: 25px;
    z-index: 99;
}
.education-example{

}
.work{

}
.header span,
.education-example span,
.work span{
    padding: 5px;
}

.header h3,
.education-example h3,
.work h3{
font-size: 40px;
    font-weight: 900;
}
.material-symbols-outlined{

}
.cv-title{
background-color: cadetblue;
    border-radius:10px ;
    padding: 15px;
    margin: 15px;
    width: 90%;
}
.cv-highlight{
    font-weight: 800;
}
.work{}
.education-example{}

.stat-container{
    padding-left: 35px;
}
.arrow-container{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}